main{
    width: 100%;
    height: 300px;
    display: block;
}
header h1{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    z-index: 51;
}

 button {
    display: block;
    float: left;
  
    --c: #000000;
  
    background: 
  
      linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
  
      #ffffff; 
  
    color: #0000;
  
    border: none;
  
    transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  
    text-shadow: 
  
      calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
  
      calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
  
    outline-offset: .1em;
  
    transition: 0.3s;
  
  }
  
  button:hover,
  
  button:focus-visible {
  
    --_p: 0%;
  
    --_i: 1;
  
  }
  
  button:active {
  
    text-shadow: none;
  
    color: var(--c);
  
    box-shadow: inset 0 0 9e9q #0005;
  
    transition: 0s;
  
  }
  
  
  button {
    display: block;
  
    font-family: system-ui, sans-serif;
  
    font-weight:bold;
  
    font-size: 2rem;
  
    margin: 0;
  
    cursor: pointer;
  
    padding: .1em .3em;
  
    z-index: 50;
  
  }
   
  #titulo {
    display: block;
      font-family: "Rowdies", sans-serif;
      font-weight: 400;
      font-style: normal;
      text-shadow: #0b0b0b 3px 0 10px;
      color: white;
      float: left;
      padding-left: 32%;
      
    }
    #titulo {
      animation: 2s anim-popoutin;
      padding-left: -50px;
      z-index: 99;
    }
  
    @keyframes anim-popoutin {
      0% {
        color: black;
        transform: scale(0);
        opacity: 0;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
      }  25% {
        color: rgb(190, 190, 190);
        transform: scale(2);
        opacity: 1;
        text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
      }  50% {
        color: rgb(255, 255, 255);
        transform: scale(1);
        opacity: 1;
      }  100% {
        transform: scale(1);
        opacity: 1;
        }
    }
  main{
    width: 100%;
    height: auto;
  }
  img{
    display: block;
    padding-left: 3%;
    padding-right: 3%;
    width: 95%;
    height: auto;
    z-index: 51;
  }

  body{
    background-image: url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExaXJhYzYwZmpwZzg4aGtnNWluMGo1OXFrY2JteG1jc2k4NDV2ZXgzMCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/1mBHqSOj3TDsBCZrwS/giphy.gif);
    background-size: cover;
  }

#luiza{
  color: white;
  display: block;
  float: left;
  font-size: 40px;
  margin-left: 8%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#luiza:hover{
  font-size: 45px;
  transition-duration: 0.3s;
}

#vi{
  color: white;
  display: block;
  float: left;
  font-size: 40px;
  margin-left: 18%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#vi:hover{
  font-size: 45px;
  transition-duration: 0.3s;
}

#rafa{
  color: white;
  display: block;
  float: left;
  font-size: 40px;
  margin-left: 3%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#rafa:hover{
  font-size: 45px;
  transition-duration: 0.3s;
}


