#titulo {
    display: block;
      font-family: "Rowdies", sans-serif;
      font-weight: 400;
      font-style: normal;
      text-shadow: #0b0b0b 3px 0 10px;
      color: white;
      float: left;
      padding-left: 31%;
      
    }
    #titulo {
      animation: 2s anim-popoutin;
      padding-left: -50px;
      z-index: 99;
    }
  
    @keyframes anim-popoutin {
      0% {
        color: black;
        transform: scale(0);
        opacity: 0;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
      }  25% {
        color: rgb(190, 190, 190);
        transform: scale(2);
        opacity: 1;
        text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
      }  50% {
        color: rgb(255, 255, 255);
        transform: scale(1);
        opacity: 1;
      }  100% {
        transform: scale(1);
        opacity: 1;
        }
    }
     
  
  body{   
    display: block;
    float: left;
      text-align: center;
  
      
  }
  
  .imagem {
    background-origin: padding-box;
    display: block;
      border: 6px groove white;
      height: 300px;
      width: 400px;
      margin-top: 7%;
      margin-left: 33%;
      margin-bottom: 5%;
  }
  
  .texto {
    display: block;
    font-family: sans-serif;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
              1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
     color: white;
     font-size: large;
  }
  
  .imagem2 {
    display: block;
    border: solid 2px white;
    height: 300px;
    width: 400px;
    margin-left: 35%;
    
  }
  
  button {
    display: block;
    float: left;
  
    --c: #000000; /* text color */
  
    background: 
  
      linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
  
      #ffffff; /* background color */
  
    color: #0000;
  
    border: none;
  
    transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  
    text-shadow: 
  
      calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
  
      calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
  
    outline-offset: .1em;
  
    transition: 0.3s;
  
  }
  
  button:hover,
  
  button:focus-visible {
  
    --_p: 0%;
  
    --_i: 1;
  
  }
  
  button:active {
  
    text-shadow: none;
  
    color: var(--c);
  
    box-shadow: inset 0 0 9e9q #0005;
  
    transition: 0s;
  
  }
  
  
  button {
    display: block;
  
    font-family: system-ui, sans-serif;
  
    font-weight:bold;
  
    font-size: 2rem;
  
    margin: 0;
  
    cursor: pointer;
  
    padding: .1em .3em;
  
    z-index: 50;
  
  }
   
  
  body {
  
      background: linear-gradient(-45deg, #ee7752, #ff1c1c, #fa4848, #ffc6c6);
  
      background-size: 400% 400%;
  
      animation: gradient 15s ease infinite;
  
      height: 100vh;
  
  }
   
  @keyframes gradient {
  
      0% {
  
          background-position: 0% 50%;
  
      }
  
      50% {
  
          background-position: 100% 50%;
  
      }
  
      100% {
  
          background-position: 0% 50%;
  
      }
    
  
  }
  .mapa{
    width: 80%;
    height: 500px;
    display: block;
    float: left;
    padding-bottom: 5%;
    margin-left: 12%;
    margin-top: 5%;
  }
   .mapa iframe{
    width: 80%;
    height: 500px;
   }