body {
    margin: 0;
    overflow: hidden;
    background: #fff;
    border-bottom: 8px solid black;
    font-family: Arial;
    background-image: url(https://static.vecteezy.com/system/resources/previews/007/984/523/non_2x/seamless-pattern-of-gray-stone-wall-textured-background-of-an-old-brick-wall-vector.jpg);
}
#bateu{
    width: 260px;
    height: auto;
    padding-top: 22%;
  }
#game {
    position: relative;
    width: 100vw;
    height: 300px;
    background: #02b2f7;
    background: linear-gradient(181deg, rgba(2, 178, 247, 1) 0%, rgba(26, 125, 232, 1) 50%, rgba(247, 208, 79, 1) 100%);
    overflow: hidden;
}


#skate {
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 150px;
    transition: bottom 0.1s;
}


.obstaculo {
    position: absolute;
    bottom: 0;
    width: 55px;
    height: 55px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('https://www.onlygfx.com/wp-content/uploads/2021/12/traffic-cone-clipart.png');
    animation: mover 2s linear forwards;
}

@keyframes mover {
    from { right: -60px; }
    to { right: 120%; }
}

#score {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
    font-weight: bold;
    text-shadow: 2px 0 #ffffff, -2px 0 #ffffff, 0 2px #ffffff, 0 -2px #ffffff,
    1px 1px #ffffff, -1px -1px #ffffff, 1px -1px #ffffff, -1px 1px #ffffff;
}

#menuGameOver {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(255,255,255,0.8);
    padding: 20px;
}

#btnRestart {
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    border: solid 4px black;
    border-radius: 10px;
    cursor: pointer;
    background: rgb(255, 255, 255);
    transition: 0.3s;
    margin-bottom: 10%;
}

#btnRestart:hover {
    color: white;
    background: #ff5f5f;
    transform: scale(1.05);
}

.sair {
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    border: solid 4px black;
    border-radius: 10px;
    cursor: pointer;
    background: rgb(255, 255, 255);
    transition: 0.3s;
}
.sair:hover{
        color: white;
        background: #ff5f5f;
        transform: scale(1.05);
}

